/* GitHub (Primer) color palette */
/* https://huetone.ardov.me/ */

/* Gray */
$Gray-000: #fafbfc;
$Gray-100: #f6f8fa;
$Gray-200: #e1e4e8;
$Gray-300: #d1d5da;
$Gray-400: #959da5;
$Gray-500: #6a737d;
$Gray-600: #586069;
$Gray-700: #444d56;
$Gray-800: #2f363d;
$Gray-900: #24292e;
$Gray-1000: #161b22;
$Gray-1100: #0d1014;
$Gray-1200: #080a0c;

$gray: (
  0: $Gray-000,
  1: $Gray-100,
  2: $Gray-200,
  3: $Gray-300,
  4: $Gray-400,
  5: $Gray-500,
  6: $Gray-600,
  7: $Gray-700,
  8: $Gray-800,
  9: $Gray-900,
  10: $Gray-1000,
  11: $Gray-1100,
  12: $Gray-1200,
);

/* Blue */
$Blue-000: #f1f8ff;
$Blue-100: #dbedff;
$Blue-200: #c8e1ff;
$Blue-300: #79b8ff;
$Blue-400: #2188ff;
$Blue-500: #0366d6;
$Blue-600: #005cc5;
$Blue-700: #044289;
$Blue-800: #032f62;
$Blue-900: #05264c;

$blue: (
  0: $Blue-000,
  1: $Blue-100,
  2: $Blue-200,
  3: $Blue-300,
  4: $Blue-400,
  5: $Blue-500,
  6: $Blue-600,
  7: $Blue-700,
  8: $Blue-800,
  9: $Blue-900,
);

/* Green */
$Green-000: #f0fff4;
$Green-100: #dcffe4;
$Green-200: #bef5cb;
$Green-300: #85e89d;
$Green-400: #34d058;
$Green-500: #28a745;
$Green-600: #22863a;
$Green-700: #176f2c;
$Green-800: #165c26;
$Green-900: #144620;

$green: (
  0: $Green-000,
  1: $Green-100,
  2: $Green-200,
  3: $Green-300,
  4: $Green-400,
  5: $Green-500,
  6: $Green-600,
  7: $Green-700,
  8: $Green-800,
  9: $Green-900,
);

/* Purple */
$Purple-000: #f5f0ff;
$Purple-100: #e6dcfd;
$Purple-200: #d1bcf9;
$Purple-300: #b392f0;
$Purple-400: #8a63d2;
$Purple-500: #6f42c1;
$Purple-600: #5a32a3;
$Purple-700: #4c2889;
$Purple-800: #3a1d6e;
$Purple-900: #29134e;

$purple: (
  0: $Purple-000,
  1: $Purple-100,
  2: $Purple-200,
  3: $Purple-300,
  4: $Purple-400,
  5: $Purple-500,
  6: $Purple-600,
  7: $Purple-700,
  8: $Purple-800,
  9: $Purple-900,
);

/* Yellow */
$Yellow-000: #fffdef;
$Yellow-100: #fffbdd;
$Yellow-200: #fff5b1;
$Yellow-300: #ffea7f;
$Yellow-400: #ffdf5d;
$Yellow-500: #ffd33d;
$Yellow-600: #f9c513;
$Yellow-700: #dbab09;
$Yellow-800: #b08800;
$Yellow-900: #735c0f;

$yellow: (
  0: $Yellow-000,
  1: $Yellow-100,
  2: $Yellow-200,
  3: $Yellow-300,
  4: $Yellow-400,
  5: $Yellow-500,
  6: $Yellow-600,
  7: $Yellow-700,
  8: $Yellow-800,
  9: $Yellow-900,
);

/* Orange */
$Orange-000: #fff8f2;
$Orange-100: #ffebda;
$Orange-200: #ffd1ac;
$Orange-300: #ffab70;
$Orange-400: #fb8532;
$Orange-500: #f66a0a;
$Orange-600: #e36209;
$Orange-700: #d15704;
$Orange-800: #c24e00;
$Orange-900: #a04100;

$orange: (
  0: $Orange-000,
  1: $Orange-100,
  2: $Orange-200,
  3: $Orange-300,
  4: $Orange-400,
  5: $Orange-500,
  6: $Orange-600,
  7: $Orange-700,
  8: $Orange-800,
  9: $Orange-900,
);

/* Red */
$Red-000: #ffeef0;
$Red-100: #ffdce0;
$Red-200: #fdaeb7;
$Red-300: #f97583;
$Red-400: #ea4a5a;
$Red-500: #d73a49;
$Red-600: #cb2431;
$Red-700: #b31d28;
$Red-800: #9e1c23;
$Red-900: #86181d;

$red: (
  0: $Red-000,
  1: $Red-100,
  2: $Red-200,
  3: $Red-300,
  4: $Red-400,
  5: $Red-500,
  6: $Red-600,
  7: $Red-700,
  8: $Red-800,
  9: $Red-900,
);

/* Pink */
$Pink-000: #ffeef8;
$Pink-100: #fedbf0;
$Pink-200: #f9b3dd;
$Pink-300: #f692ce;
$Pink-400: #ec6cb9;
$Pink-500: #ea4aaa;
$Pink-600: #d03592;
$Pink-700: #b93a86;
$Pink-800: #99306f;
$Pink-900: #6d224f;

$pink: (
  0: $Pink-000,
  1: $Pink-100,
  2: $Pink-200,
  3: $Pink-300,
  4: $Pink-400,
  5: $Pink-500,
  6: $Pink-600,
  7: $Pink-700,
  8: $Pink-800,
  9: $Pink-900,
);

$colors: (
  gray: $gray,
  blue: $blue,
  green: $green,
  purple: $purple,
  yellow: $yellow,
  orange: $orange,
  red: $red,
  pink: $pink,
);

@mixin primer {
  @each $color, $shades in $colors {
    @each $index, $shade in $shades {
      $hue: hue($shade);
      $saturation: saturation($shade);
      $lightness: lightness($shade);
      --#{""+$color}-#{$index}: #{$shade};
      --#{""+$color}-#{$index}-hsl: #{$hue} #{$saturation} #{$lightness};
    }
  }
}
