/*
 * WARNING: This file was generated automatically.
 * 
 * You risk losing any changes if you modify this file manually.
 * 
 * Last updated: 2024-06-17T11:15:10.196Z by mholman.
 */
$genericTextCapHeights0: 0.75rem !default;
$genericTextCapHeights1: 1rem !default;
$genericTextCapHeights2: 1.1rem !default;
$genericTextCapHeights3: 1.25rem !default;
$genericTextCapHeights4: 1.5rem !default;
$genericTextCapHeights5: 2rem !default;
$genericTextCapHeights00: 0.5rem !default;
$genericTextWeightThin: 100 !default;
$genericTextWeightExtraLight: 200 !default;
$genericTextWeightLight: 300 !default;
$genericTextWeightNormal: 400 !default;
$genericTextWeightMedium: 500 !default;
$genericTextWeightSemiBold: 500 !default;
$genericTextWeightBold: 600 !default;
$genericTextWeightHeavy: 900 !default;
$genericTextLineHeightNormal: 1.5 !default;
$genericTextLineHeightParagraph: 1.6 !default;
$genericTextLineHeightHeading: 1.3 !default;
$genericBorderWidth0: 0 !default;
$genericBorderWidth1: 0.05rem !default;
$genericBorderWidth2: 0.15rem !default;
$genericBorderWidth3: 0.2rem !default;
$genericBorderWidth4: 0.3rem !default;
$genericBorderWidth5: 0.5rem !default;
$genericBorderWidth6: 0.75rem !default;
$genericBorderWidth7: 1rem !default;
$genericRadius0: 0 !default;
$genericRadius1: 0.125rem !default;
$genericRadius2: 0.25rem !default;
$genericRadius3: 0.5rem !default;
$genericRadius50: 50% !default;
$genericSpace0: 0rem !default;
$genericSpace1: 0.125rem !default;
$genericSpace2: 0.25rem !default;
$genericSpace3: 0.375rem !default;
$genericSpace4: 0.5rem !default;
$genericSpace5: 0.625rem !default;
$genericSpace6: 0.75rem !default;
$genericSpace7: 1rem !default;
$genericSpace8: 1.25rem !default;
$genericSpace9: 1.5rem !default;
$genericSpace10: 1.75rem !default;
$genericSpace11: 2rem !default;
$genericSpace12: 3rem !default;
$genericSpace13: 5rem !default;
$genericSpace14: 7.5rem !default;
$genericSpace15: 10rem !default;
$genericSpace16: 15rem !default;
$genericSpace000: -0.5rem !default;
$genericSpace00: -0.25rem !default;
$themeFgColor: null !default;
$themeBgColor: null !default;
$themeBorderColor: null !default;
$font0ValuesFontSize: 14px !default;
$font0ValuesLineHeight: 17px !default;
$font0ValuesCapHeightTrim: -0.2435em !default;
$font0ValuesBaselineTrim: -0.2435em !default;
$font0CapHeight: calc(10.1818 * 1px) !default;
$font1ValuesFontSize: 16px !default;
$font1ValuesLineHeight: 20px !default;
$font1ValuesCapHeightTrim: -0.2614em !default;
$font1ValuesBaselineTrim: -0.2614em !default;
$font1CapHeight: calc(11.63636 * 1px) !default;
$font2ValuesFontSize: 18px !default;
$font2ValuesLineHeight: 20px !default;
$font2ValuesCapHeightTrim: -0.1919em !default;
$font2ValuesBaselineTrim: -0.1919em !default;
$font2CapHeight: calc(13.0909 * 1px) !default;
$font3ValuesFontSize: 20px !default;
$font3ValuesLineHeight: 22px !default;
$font3ValuesCapHeightTrim: -0.1864em !default;
$font3ValuesBaselineTrim: -0.1864em !default;
$font3CapHeight: calc(14.54545 * 1px) !default;
$font4ValuesFontSize: 24px !default;
$font4ValuesLineHeight: 25px !default;
$font4ValuesCapHeightTrim: -0.1572em !default;
$font4ValuesBaselineTrim: -0.1572em !default;
$font4CapHeight: calc(17.45454 * 1px) !default;
$font5ValuesFontSize: 32px !default;
$font5ValuesLineHeight: 35px !default;
$font5ValuesCapHeightTrim: -0.1832em !default;
$font5ValuesBaselineTrim: -0.1832em !default;
$font5CapHeight: calc(23.27272 * 1px) !default;
$font6ValuesFontSize: 40px !default;
$font6ValuesLineHeight: 42px !default;
$font6ValuesCapHeightTrim: -0.1614em !default;
$font6ValuesBaselineTrim: -0.1614em !default;
$font6CapHeight: calc(29.0909 * 1px) !default;
$font00ValuesFontSize: 12px !default;
$font00ValuesLineHeight: 14px !default;
$font00ValuesCapHeightTrim: -0.2197em !default;
$font00ValuesBaselineTrim: -0.2197em !default;
$font00CapHeight: calc(8.72727 * 1px) !default;
$buttonBorderRadius: 2em !default;
$buttonBorderWidth: 1px !default;
$buttonVariantDangerRestFgColor: hsl(var(--red-6-hsl)) !default;
$buttonVariantDangerRestBgColor: hsl(var(--gray-9-hsl)) !default;
$buttonVariantDangerRestBorderColor: hsl(var(--gray-8-hsl)) !default;
$buttonVariantDangerHoverFgColor: hsl(var(--gray-2-hsl)) !default;
$buttonVariantDangerHoverBgColor: hsl(var(--red-6-hsl)) !default;
$buttonVariantDangerHoverBorderColor: hsl(var(--red-7-hsl)) !default;
$buttonVariantDangerDisabledFgColor: hsl(var(--red-3-hsl) / 70%) !default;
$buttonVariantDangerDisabledBgColor: hsl(var(--gray-9-hsl)) !default;
$buttonVariantDangerDisabledBorderColor: hsl(var(--gray-9-hsl)) !default;
$buttonVariantDangerActiveFgColor: null !default;
$buttonVariantDangerActiveBgColor: null !default;
$buttonVariantDangerActiveBorderColor: null !default;
$buttonVariantDefaultRestFgColor: hsl(var(--gray-3-hsl)) !default;
$buttonVariantDefaultRestBgColor: hsl(var(--gray-9-hsl)) !default;
$buttonVariantDefaultRestBorderColor: hsl(var(--gray-7-hsl)) !default;
$buttonVariantDefaultHoverFgColor: hsl(var(--gray-2-hsl)) !default;
$buttonVariantDefaultHoverBgColor: hsl(var(--gray-8-hsl)) !default;
$buttonVariantDefaultHoverBorderColor: null !default;
$buttonVariantDefaultDisabledFgColor: hsl(var(--gray-5-hsl)) !default;
$buttonVariantDefaultDisabledBgColor: hsl(var(--gray-9-hsl)) !default;
$buttonVariantDefaultDisabledBorderColor: hsl(var(--gray-8-hsl)) !default;
$buttonVariantDefaultActiveFgColor: null !default;
$buttonVariantDefaultActiveBgColor: null !default;
$buttonVariantDefaultActiveBorderColor: null !default;
$buttonVariantPrimaryRestFgColor: hsl(var(--gray-1-hsl)) !default;
$buttonVariantPrimaryRestBgColor: hsl(var(--green-5-hsl)) !default;
$buttonVariantPrimaryRestBorderColor: hsl(var(--green-6-hsl)) !default;
$buttonVariantPrimaryHoverFgColor: null !default;
$buttonVariantPrimaryHoverBgColor: hsl(var(--green-6-hsl)) !default;
$buttonVariantPrimaryHoverBorderColor: hsl(var(--green-7-hsl)) !default;
$buttonVariantPrimaryDisabledFgColor: hsl(var(--gray-0-hsl) / 70%) !default;
$buttonVariantPrimaryDisabledBgColor: hsl(var(--green-8-hsl)) !default;
$buttonVariantPrimaryDisabledBorderColor: hsl(var(--gray-8-hsl)) !default;
$buttonVariantPrimaryActiveFgColor: null !default;
$buttonVariantPrimaryActiveBgColor: null !default;
$buttonVariantPrimaryActiveBorderColor: null !default;
$buttonVariantInactiveRestFgColor: hsl(var(--gray-4-hsl)) !default;
$buttonVariantInactiveRestBgColor: hsl(var(--gray-8-hsl)) !default;
$buttonVariantInactiveRestBorderColor: null !default;
$buttonVariantInactiveActiveFgColor: null !default;
$buttonVariantInactiveActiveBgColor: null !default;
$buttonVariantInactiveActiveBorderColor: null !default;
$buttonVariantInactiveDisabledFgColor: null !default;
$buttonVariantInactiveDisabledBgColor: null !default;
$buttonVariantInactiveDisabledBorderColor: null !default;
$buttonVariantInactiveHoverFgColor: null !default;
$buttonVariantInactiveHoverBgColor: null !default;
$buttonVariantInactiveHoverBorderColor: null !default;
$buttonVariantInvisibleRestFgColor: hsl(var(--gray-2-hsl)) !default;
$buttonVariantInvisibleRestBgColor: hsl(var(--_1rbo53vsf)) !default;
$buttonVariantInvisibleRestBorderColor: null !default;
$buttonVariantInvisibleHoverFgColor: null !default;
$buttonVariantInvisibleHoverBgColor: hsl(var(--gray-9-hsl)) !default;
$buttonVariantInvisibleHoverBorderColor: null !default;
$buttonVariantInvisibleDisabledFgColor: hsl(var(--gray-6-hsl)) !default;
$buttonVariantInvisibleDisabledBgColor: null !default;
$buttonVariantInvisibleDisabledBorderColor: hsl(var(--gray-8-hsl)) !default;
$buttonVariantInvisibleActiveFgColor: null !default;
$buttonVariantInvisibleActiveBgColor: null !default;
$buttonVariantInvisibleActiveBorderColor: null !default;

@mixin magic {
  --_1rbo53v0: #{$genericTextCapHeights0};
  --_1rbo53v1: #{$genericTextCapHeights1};
  --_1rbo53v2: #{$genericTextCapHeights2};
  --_1rbo53v3: #{$genericTextCapHeights3};
  --_1rbo53v4: #{$genericTextCapHeights4};
  --_1rbo53v5: #{$genericTextCapHeights5};
  --_1rbo53v6: #{$genericTextCapHeights00};
  --_1rbo53v7: #{$genericTextWeightThin};
  --_1rbo53v8: #{$genericTextWeightExtraLight};
  --_1rbo53v9: #{$genericTextWeightLight};
  --_1rbo53va: #{$genericTextWeightNormal};
  --_1rbo53vb: #{$genericTextWeightMedium};
  --_1rbo53vc: #{$genericTextWeightSemiBold};
  --_1rbo53vd: #{$genericTextWeightBold};
  --_1rbo53ve: #{$genericTextWeightHeavy};
  --_1rbo53vf: #{$genericTextLineHeightNormal};
  --_1rbo53vg: #{$genericTextLineHeightParagraph};
  --_1rbo53vh: #{$genericTextLineHeightHeading};
  --_1rbo53vi: #{$genericBorderWidth0};
  --_1rbo53vj: #{$genericBorderWidth1};
  --_1rbo53vk: #{$genericBorderWidth2};
  --_1rbo53vl: #{$genericBorderWidth3};
  --_1rbo53vm: #{$genericBorderWidth4};
  --_1rbo53vn: #{$genericBorderWidth5};
  --_1rbo53vo: #{$genericBorderWidth6};
  --_1rbo53vp: #{$genericBorderWidth7};
  --_1rbo53vq: #{$genericRadius0};
  --_1rbo53vr: #{$genericRadius1};
  --_1rbo53vs: #{$genericRadius2};
  --_1rbo53vt: #{$genericRadius3};
  --_1rbo53vu: #{$genericRadius50};
  --_1rbo53vv: #{$genericSpace0};
  --_1rbo53vw: #{$genericSpace1};
  --_1rbo53vx: #{$genericSpace2};
  --_1rbo53vy: #{$genericSpace3};
  --_1rbo53vz: #{$genericSpace4};
  --_1rbo53v10: #{$genericSpace5};
  --_1rbo53v11: #{$genericSpace6};
  --_1rbo53v12: #{$genericSpace7};
  --_1rbo53v13: #{$genericSpace8};
  --_1rbo53v14: #{$genericSpace9};
  --_1rbo53v15: #{$genericSpace10};
  --_1rbo53v16: #{$genericSpace11};
  --_1rbo53v17: #{$genericSpace12};
  --_1rbo53v18: #{$genericSpace13};
  --_1rbo53v19: #{$genericSpace14};
  --_1rbo53v1a: #{$genericSpace15};
  --_1rbo53v1b: #{$genericSpace16};
  --_1rbo53v1c: #{$genericSpace000};
  --_1rbo53v1d: #{$genericSpace00};
  --_1rbo53vse: #{$themeFgColor};
  --_1rbo53vsf: #{$themeBgColor};
  --_1rbo53vsg: #{$themeBorderColor};
  --_16o63x3: #{$font0CapHeight};
  --_16o63x4: #{$font0ValuesFontSize};
  --_16o63x5: #{$font0ValuesLineHeight};
  --_16o63x6: #{$font0ValuesCapHeightTrim};
  --_16o63x7: #{$font0ValuesBaselineTrim};
  --_16o63x8: #{$font1CapHeight};
  --_16o63x9: #{$font1ValuesFontSize};
  --_16o63xa: #{$font1ValuesLineHeight};
  --_16o63xb: #{$font1ValuesCapHeightTrim};
  --_16o63xc: #{$font1ValuesBaselineTrim};
  --_16o63xd: #{$font2CapHeight};
  --_16o63xe: #{$font2ValuesFontSize};
  --_16o63xf: #{$font2ValuesLineHeight};
  --_16o63xg: #{$font2ValuesCapHeightTrim};
  --_16o63xh: #{$font2ValuesBaselineTrim};
  --_16o63xi: #{$font3CapHeight};
  --_16o63xj: #{$font3ValuesFontSize};
  --_16o63xk: #{$font3ValuesLineHeight};
  --_16o63xl: #{$font3ValuesCapHeightTrim};
  --_16o63xm: #{$font3ValuesBaselineTrim};
  --_16o63xn: #{$font4CapHeight};
  --_16o63xo: #{$font4ValuesFontSize};
  --_16o63xp: #{$font4ValuesLineHeight};
  --_16o63xq: #{$font4ValuesCapHeightTrim};
  --_16o63xr: #{$font4ValuesBaselineTrim};
  --_16o63xs: #{$font5CapHeight};
  --_16o63xt: #{$font5ValuesFontSize};
  --_16o63xu: #{$font5ValuesLineHeight};
  --_16o63xv: #{$font5ValuesCapHeightTrim};
  --_16o63xw: #{$font5ValuesBaselineTrim};
  --_16o63xx: #{$font6CapHeight};
  --_16o63xy: #{$font6ValuesFontSize};
  --_16o63xz: #{$font6ValuesLineHeight};
  --_16o63x10: #{$font6ValuesCapHeightTrim};
  --_16o63x11: #{$font6ValuesBaselineTrim};
  --_16o63x12: #{$font00CapHeight};
  --_16o63x13: #{$font00ValuesFontSize};
  --_16o63x14: #{$font00ValuesLineHeight};
  --_16o63x15: #{$font00ValuesCapHeightTrim};
  --_16o63x16: #{$font00ValuesBaselineTrim};
  --jqajj20: #{$buttonBorderRadius};
  --jqajj21: #{$buttonBorderWidth};
  --jqajj22: #{$buttonVariantDefaultRestBgColor};
  --jqajj23: #{$buttonVariantDefaultRestFgColor};
  --jqajj24: #{$buttonVariantDefaultRestBorderColor};
  --jqajj25: #{$buttonVariantDefaultHoverBgColor};
  --jqajj26: #{$buttonVariantDefaultHoverFgColor};
  --jqajj27: #{$buttonVariantDefaultHoverBorderColor};
  --jqajj28: #{$buttonVariantDefaultDisabledBgColor};
  --jqajj29: #{$buttonVariantDefaultDisabledFgColor};
  --jqajj2a: #{$buttonVariantDefaultDisabledBorderColor};
  --jqajj2b: #{$buttonVariantDefaultActiveBgColor};
  --jqajj2c: #{$buttonVariantDefaultActiveFgColor};
  --jqajj2d: #{$buttonVariantDefaultActiveBorderColor};
  --jqajj2e: #{$buttonVariantDangerRestBgColor};
  --jqajj2f: #{$buttonVariantDangerRestFgColor};
  --jqajj2g: #{$buttonVariantDangerRestBorderColor};
  --jqajj2h: #{$buttonVariantDangerHoverBgColor};
  --jqajj2i: #{$buttonVariantDangerHoverFgColor};
  --jqajj2j: #{$buttonVariantDangerHoverBorderColor};
  --jqajj2k: #{$buttonVariantDangerDisabledBgColor};
  --jqajj2l: #{$buttonVariantDangerDisabledFgColor};
  --jqajj2m: #{$buttonVariantDangerDisabledBorderColor};
  --jqajj2n: #{$buttonVariantDangerActiveBgColor};
  --jqajj2o: #{$buttonVariantDangerActiveFgColor};
  --jqajj2p: #{$buttonVariantDangerActiveBorderColor};
  --jqajj2q: #{$buttonVariantPrimaryRestBgColor};
  --jqajj2r: #{$buttonVariantPrimaryRestFgColor};
  --jqajj2s: #{$buttonVariantPrimaryRestBorderColor};
  --jqajj2t: #{$buttonVariantPrimaryHoverBgColor};
  --jqajj2u: #{$buttonVariantPrimaryHoverFgColor};
  --jqajj2v: #{$buttonVariantPrimaryHoverBorderColor};
  --jqajj2w: #{$buttonVariantPrimaryDisabledBgColor};
  --jqajj2x: #{$buttonVariantPrimaryDisabledFgColor};
  --jqajj2y: #{$buttonVariantPrimaryDisabledBorderColor};
  --jqajj2z: #{$buttonVariantPrimaryActiveBgColor};
  --jqajj210: #{$buttonVariantPrimaryActiveFgColor};
  --jqajj211: #{$buttonVariantPrimaryActiveBorderColor};
  --jqajj212: #{$buttonVariantInvisibleRestBgColor};
  --jqajj213: #{$buttonVariantInvisibleRestFgColor};
  --jqajj214: #{$buttonVariantInvisibleRestBorderColor};
  --jqajj215: #{$buttonVariantInvisibleHoverBgColor};
  --jqajj216: #{$buttonVariantInvisibleHoverFgColor};
  --jqajj217: #{$buttonVariantInvisibleHoverBorderColor};
  --jqajj218: #{$buttonVariantInvisibleDisabledBgColor};
  --jqajj219: #{$buttonVariantInvisibleDisabledFgColor};
  --jqajj21a: #{$buttonVariantInvisibleDisabledBorderColor};
  --jqajj21b: #{$buttonVariantInvisibleActiveBgColor};
  --jqajj21c: #{$buttonVariantInvisibleActiveFgColor};
  --jqajj21d: #{$buttonVariantInvisibleActiveBorderColor};
  --jqajj21e: #{$buttonVariantInactiveRestBgColor};
  --jqajj21f: #{$buttonVariantInactiveRestFgColor};
  --jqajj21g: #{$buttonVariantInactiveRestBorderColor};
  --jqajj21h: #{$buttonVariantInactiveHoverBgColor};
  --jqajj21i: #{$buttonVariantInactiveHoverFgColor};
  --jqajj21j: #{$buttonVariantInactiveHoverBorderColor};
  --jqajj21k: #{$buttonVariantInactiveDisabledBgColor};
  --jqajj21l: #{$buttonVariantInactiveDisabledFgColor};
  --jqajj21m: #{$buttonVariantInactiveDisabledBorderColor};
  --jqajj21n: #{$buttonVariantInactiveActiveBgColor};
  --jqajj21o: #{$buttonVariantInactiveActiveFgColor};
  --jqajj21p: #{$buttonVariantInactiveActiveBorderColor};
}
