@use './primer.module.scss' as primer;
// @use '../lib/fonts/inter.scss' as inter;

:root {
  @include primer.vars();
  // @include inter.vars();
}

@mixin constants() {
  --fgColor-black: var(--black);
  --fgColor-white: var(--white);
  --fgColor-accent: var(--blue-5);
}

@mixin dark() {
  @include constants();

  /**
  MAIN COLORS
  */
  --bgColor-default: var(--gray-10);
  --fgColor-default: var(--gray-1);
  --fgColor-muted: var(--gray-3);
  --borderColor-muted: var(--gray-7);

  --fgColor-info: var(--blue-3);
  --bgColor-info-muted: var(--blue-9);
  --borderColor-info-muted: var(--blue-8);

  --fgColor-positive: var(--green-5);
  --bgColor-positive-muted: var(--green-9);
  --borderColor-positive-muted: var(--green-8);

  --fgColor-error: var(--red-6);
  --bgColor-error-muted: var(--red-9);
  --borderColor-error-muted: var(--red-8);

  --fgColor-attention: var(--yellow-4);
  --bgColor-attention-muted: var(--yellow-9);
  --borderColor-attention-muted: var(--yellow-8);

  /**
  BUTTONS
  */
  --button-danger-fgColor-rest: var(--red-5);
  --button-danger-bgColor-rest: var(--gray-9);
  --button-danger-borderColor-rest: var(--gray-8);

  --button-danger-fgColor-hover: var(--gray-2);
  --button-danger-bgColor-hover: var(--red-6);
  --button-danger-borderColor-hover: var(--red-7);

  --button-danger-fgColor-disabled: var(--red-3) / 70%;
  --button-danger-bgColor-disabled: var(--gray-9);
  --button-danger-borderColor-disabled: var(--gray-9);

  --button-danger-fgColor-active: var(--gray-2);
  --button-danger-bgColor-active: var(--red-7);
  --button-danger-borderColor-active: var(--red-9);

  --button-default-fgColor-rest: var(--gray-3);
  --button-default-bgColor-rest: var(--gray-9);
  --button-default-borderColor-rest: var(--gray-7);

  --button-default-fgColor-hover: var(--gray-2);
  --button-default-bgColor-hover: var(--gray-8);
  --button-default-borderColor-hover: var(--gray-7);

  --button-default-fgColor-disabled: var(--gray-5);
  --button-default-bgColor-disabled: var(--gray-9);
  --button-default-borderColor-disabled: var(--gray-8);

  --button-default-fgColor-active: var(--gray-2);
  --button-default-bgColor-active: var(--gray-8);
  --button-default-borderColor-active: var(--gray-8);

  --button-primary-fgColor-rest: var(--gray-1);
  --button-primary-bgColor-rest: var(--green-5);
  --button-primary-borderColor-rest: var(--green-6);

  --button-primary-fgColor-hover: var(--gray-1);
  --button-primary-bgColor-hover: var(--green-6);
  --button-primary-borderColor-hover: var(--green-7);

  --button-primary-fgColor-disabled: var(--gray-0) / 70%;
  --button-primary-bgColor-disabled: var(--green-8);
  --button-primary-borderColor-disabled: var(--gray-8);

  --button-primary-fgColor-active: var(--gray-1);
  --button-primary-bgColor-active: var(--green-6);
  --button-primary-borderColor-active: var(--green-7);

  --button-inactive-fgColor-rest: var(--gray-4);
  --button-inactive-bgColor-rest: var(--gray-8);
  --button-inactive-borderColor-rest: var(--gray-8);

  --button-inactive-fgColor-active: var(--gray-4);
  --button-inactive-bgColor-active: var(--gray-8);
  --button-inactive-borderColor-active: var(--gray-8);

  --button-inactive-fgColor-disabled: var(--gray-4);
  --button-inactive-bgColor-disabled: var(--gray-8);
  --button-inactive-borderColor-disabled: var(--gray-8);

  --button-inactive-fgColor-hover: var(--gray-4);
  --button-inactive-bgColor-hover: var(--gray-8);
  --button-inactive-borderColor-hover: var(--gray-8);

  --button-invisible-borderColor-rest: transparent;
  --button-invisible-fgColor-rest: var(--gray-2);
  --button-invisible-bgColor-rest: transparent;

  --button-invisible-borderColor-hover: var(--gray-9);
  --button-invisible-fgColor-hover: var(--gray-2);
  --button-invisible-bgColor-hover: var(--gray-9);

  --button-invisible-fgColor-disabled: var(--gray-6);
  --button-invisible-bgColor-disabled: transparent;
  --button-invisible-borderColor-disabled: var(--gray-8);

  --button-invisible-borderColor-active: transparent;
  --button-invisible-fgColor-active: var(--gray-2);
  --button-invisible-bgColor-active: var(--gray-10);

  /**
  CONTROLS
  */
  --control-borderColor-rest: var(--gray-4);

  /**
  BADGES - default, info, positive, error, attention
  */
  --badge-fgColor-primary: var(--gray-0);
  --badge-bgColor-primary: var(--green-5);
  --badge-borderColor-primary: var(--green-6);
}

@mixin light() {
  @include constants();

  /**
  MAIN COLORS
  */
  --fgColor-white: var(--gray-0);

  --bgColor-default: var(--gray-0);
  --fgColor-default: var(--gray-9);
  --fgColor-muted: var(--gray-4);
  --borderColor-muted: var(--gray-9);

  --fgColor-info: var(--blue-5);
  --bgColor-info-muted: var(--blue-0);
  --borderColor-info-muted: var(--blue-1);

  --fgColor-positive: var(--green-4);
  --bgColor-positive-muted: var(--green-0);
  --borderColor-positive-muted: var(--green-1);

  --fgColor-error: var(--red-5);
  --bgColor-error-muted: var(--red-0);
  --borderColor-error-muted: var(--red-1);

  --fgColor-attention: var(--yellow-4);
  --bgColor-attention-muted: var(--yellow-0);
  --borderColor-attention-muted: var(--yellow-1);

  /**
  BUTTONS
  */
  --button-danger-fgColor-rest: var(--red-5);
  --button-danger-bgColor-rest: var(--red-1);
  --button-danger-borderColor-rest: var(--red-4);

  --button-danger-fgColor-hover: var(--gray-0);
  --button-danger-bgColor-hover: var(--red-5);
  --button-danger-borderColor-hover: var(--red-6);

  --button-danger-fgColor-disabled: var(--red-3) / 70%;
  --button-danger-bgColor-disabled: var(--red-1);
  --button-danger-borderColor-disabled: var(--red-1);

  --button-danger-fgColor-active: var(--gray-0);
  --button-danger-bgColor-active: var(--red-6);
  --button-danger-borderColor-active: var(--red-7);

  --button-default-fgColor-rest: var(--gray-8);
  --button-default-bgColor-rest: var(--gray-1);
  --button-default-borderColor-rest: var(--gray-4);

  --button-default-fgColor-hover: var(--gray-9);
  --button-default-bgColor-hover: var(--gray-2);
  --button-default-borderColor-hover: var(--gray-4);

  --button-default-fgColor-disabled: var(--gray-6);
  --button-default-bgColor-disabled: var(--gray-1);
  --button-default-borderColor-disabled: var(--gray-1);

  --button-default-fgColor-active: var(--gray-9);
  --button-default-bgColor-active: var(--gray-2);
  --button-default-borderColor-active: var(--gray-4);

  --button-primary-fgColor-rest: var(--gray-0);
  --button-primary-bgColor-rest: var(--green-5);
  --button-primary-borderColor-rest: var(--green-6);

  --button-primary-fgColor-hover: var(--gray-0);
  --button-primary-bgColor-hover: var(--green-6);
  --button-primary-borderColor-hover: var(--green-7);

  --button-primary-fgColor-disabled: var(--gray-0) / 70%;
  --button-primary-bgColor-disabled: var(--green-8);
  --button-primary-borderColor-disabled: var(--gray-1);

  --button-primary-fgColor-active: var(--gray-0);
  --button-primary-bgColor-active: var(--green-6);
  --button-primary-borderColor-active: var(--green-7);

  --button-inactive-fgColor-rest: var(--gray-6);
  --button-inactive-bgColor-rest: var(--gray-1);
  --button-inactive-borderColor-rest: var(--gray-4);

  --button-inactive-fgColor-active: var(--gray-6);
  --button-inactive-bgColor-active: var(--gray-2);
  --button-inactive-borderColor-active: var(--gray-4);

  --button-inactive-fgColor-disabled: var(--gray-6);
  --button-inactive-bgColor-disabled: var(--gray-1);
  --button-inactive-borderColor-disabled: var(--gray-1);

  --button-inactive-fgColor-hover: var(--gray-6);
  --button-inactive-bgColor-hover: var(--gray-1);
  --button-inactive-borderColor-hover: var(--gray-4);

  --button-invisible-borderColor-rest: transparent;
  --button-invisible-fgColor-rest: var(--gray-8);
  --button-invisible-bgColor-rest: transparent;

  --button-invisible-borderColor-hover: transparent;
  --button-invisible-fgColor-hover: var(--gray-8);
  --button-invisible-bgColor-hover: transparent;

  --button-invisible-fgColor-disabled: var(--gray-9);
  --button-invisible-bgColor-disabled: transparent;
  --button-invisible-borderColor-disabled: var(--gray-1);

  --button-invisible-borderColor-active: transparent;
  --button-invisible-fgColor-active: var(--gray-8);
  --button-invisible-bgColor-active: transparent;

  /**
  CONTROLS
  */
  --control-borderColor-rest: var(--gray-5);

  /**
  BADGES
  */
  --badge-fgColor-primary: var(--gray-0);
  --badge-bgColor-primary: var(--green-5);
  --badge-borderColor-primary: var(--green-4);
}

html {
  // scroll bar avoids jank
  overflow-y: scroll;

  &[data-color-scheme='dark']:not([data-color-mode]) {
    color-scheme: dark;
    @include dark();
  }

  &[data-color-scheme='light'] {
    color-scheme: light;
    @include light();
  }
}
